/* This is the class used for the dark-background areas. */

.ribbon {
  background: $brand-black;
  color: $brand-grey;

  @media (min-width: 480px) {
      font-size: 120%;

  }

  a {
    color: $brand-white;
  }

  a:hover {
    color: $brand-darkgrey;
  }
}

