/* Position and sizing of burger button */
// need a high z-index because of scroll over effect
// important because radium changes the styles later
.bm-burger-button {
  position: fixed;
  width: 28px;
  height: 24px;
  right: 36px;
  top: 36px;
  z-index: 3 !important;
  display: none;

  @media (max-width: 480px) {
    display: block;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $brand-darkgrey;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $brand-grey;
}

/* General sidebar styles */
// need a high z-index because of scroll over effect
// important because radium changes the styles later
.bm-menu {
  background: $brand-black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  z-index: 10 !important;
}


/* Wrapper for item list */
.bm-item-list {
  color: $brand-grey;
  padding: 0.8em;
}

/* Styling of overlay */
// need a high z-index because of scroll over effect
// important because radium changes the styles later
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  z-index: 9 !important;
}

// need a high z-index because of scroll over effect
// important because radium changes the styles later
.bm-menu-wrap {
  z-index: 10 !important;
}
