/*
 * -- SPLASH STYLES --
 * This is the top section that appears on the page.
 */
.splash-container {
    background: $brand-white;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
    display: table;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 50%;
    padding: 0 10%;
    height: 100%;
    margin: auto;
//    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;

  i:before {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    display: block;
    font-size: 2em;
    padding-bottom: .1em;
  }
}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    border: 3px solid $brand-grey;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.splash-subhead {
    letter-spacing: 0.05em;
    opacity: 0.8;
}



