<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/css/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans|Gentium+Book+Basic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
      <nav class="top-navigation">
        <div class="content"><img class="logo" src="/img/hi_logo_small.svg" alt="Hafner Industries" width="55">
          <ul class="links">
            <li>Meet Karma</li>
            <li>How It works</li>
            <li>Store</li>
            <li>Blog</li>
            <li>Help</li>
            <li>Log in</li>
          </ul>
        </div>
      </nav>

      <header class="masthead">
        <p class="masthead-intro">Welcome to</p>
        <h1 class="masthead-heading">Hafner Industries</h1>
      </header>
      <section class="introduction-section">
        <h1>Introduction</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, similique accusantium et tenetur exercitationem, harum cum assumenda delectus distinctio sed blanditiis, laudantium reiciendis laboriosam ea sequi quas officiis quos quam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, eum, numquam! Alias distinctio illo voluptatem nam quisquam, odit earum vitae deleniti. Quos officiis labore nemo beatae quasi ratione illum exercitationem.</p>
      </section>
      <section class="location-section">
        <h1>Where I'm From</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus reprehenderit aliquid eligendi quasi! Iste consequuntur necessitatibus illo facilis pariatur. Aspernatur, iusto, mollitia. Quisquam nesciunt provident, laboriosam maxime sed, error eum!</p>
      </section>
      <section class="questions-section">
        <h1>More About Me</h1>
        <h2>What are your favorite hobbies?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius mollitia nostrum consequatur possimus, magni et eos veniam nesciunt a, officia hic blanditiis voluptas nemo ullam facere nobis nisi quia vel.</p>
        <h2>What's your dream job?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quia veritatis voluptatibus delectus ducimus ut, repellat praesentium quas esse vero soluta nulla? Voluptates, quisquam voluptatem ullam dolore est quo neque.</p>
        <h2>Another question?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt blanditiis doloribus corporis deleniti veritatis dolore consectetur unde vitae delectus minima error, voluptatum eligendi, earum aspernatur praesentium alias accusamus, voluptates inventore.</p>
        <h2>Another question?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo reiciendis, repudiandae possimus voluptatem sit vitae aut. Inventore, veritatis dignissimos iure unde corporis explicabo ipsam esse eius, excepturi at delectus tenetur!</p>
      </section>
      <footer class="content-footer">
        <p>Say hi to me on these social networks:</p>
        <ul class="social">
          <li><a class="fa fa-github" href="https://github.com/barretthafner"></a></li>
          <li><a class="fa fa-twitter" href="https://twitter.com/barretthafner"></a></li>
        </ul>
        <p>Cover Image via <a href="http://unsplash.com">Unsplash</a></p>
      </footer>











        <script src="js/main.js"></script>
    </body>
</html>
