/*
  Colors:
    Red: #BF2526
    Blue: #2A7B89
    Black: #252826
    Brown: #57442D
*/


body {
  /* Typography Declarations */
  color: #252826;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.masthead-heading,
.masthead-intro,
.content-footer {
  text-align: center;
}

.masthead {
  color: #252826;
  padding: 6em 0;
  background-image: url('https://images.unsplash.com/photo-1424298397478-4bd87a6a0f0c?crop=entropy&fit=crop&fm=jpg&h=925&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1900');
  background-repeat: no-repeat;
  background-size: cover;
/*  border-top: solid 1em black;*/

}

.masthead-intro {
  /* Layout Declarations */
  margin-bottom: 0.1em;

  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
}

.masthead-heading {
  /* Layout Declarations */
  margin-top: -0.2em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 4em;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.social > li {
  display: inline-block;
}


.introduction-section > p,
.location-section > p,
.content-footer > p {
  /* Typography Declarations */
  font-weight: 300;
  letter-spacing: 0.05em;
}

.questions-section > h2 {
  /* Typography Declarations */
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.2em;
  font-weight: bold;
  /* Layout Declarations */
  margin-top: 2em;
}



h1 {
  color: #BF2526;
}
